##

# <center> MongoDB

___

## Reference

https://www.tutorialspoint.com/python_data_access/python_mongodb_update.htm

https://www.mongodbtutorial.org/mongodb-crud/mongodb-deletemany/

https://www.w3schools.com/python/python_mongodb_insert.asp

___

In [1]:
# Imports
import json
import pandas as pd

import pymongo
from pymongo import MongoClient

___

## Dataset

In [2]:
# Load data
df = pd.read_table("data/mtcars.txt", encoding = "UTF-8", sep = ' ')

In [3]:
# Subset
df = df[['mpg', 'cyl', 'disp', 'hp']].reset_index().rename(columns={'index':'name'})

In [4]:
# View data
df

                   name   mpg  cyl   disp   hp
0             Mazda RX4  21.0    6  160.0  110
1         Mazda RX4 Wag  21.0    6  160.0  110
2            Datsun 710  22.8    4  108.0   93
3        Hornet 4 Drive  21.4    6  258.0  110
4     Hornet Sportabout  18.7    8  360.0  175
5               Valiant  18.1    6  225.0  105
6            Duster 360  14.3    8  360.0  245
7             Merc 240D  24.4    4  146.7   62
8              Merc 230  22.8    4  140.8   95
9              Merc 280  19.2    6  167.6  123
10            Merc 280C  17.8    6  167.6  123
11           Merc 450SE  16.4    8  275.8  180
12           Merc 450SL  17.3    8  275.8  180
13          Merc 450SLC  15.2    8  275.8  180
14   Cadillac Fleetwood  10.4    8  472.0  205
15  Lincoln Continental  10.4    8  460.0  215
16    Chrysler Imperial  14.7    8  440.0  230
17             Fiat 128  32.4    4   78.7   66
18          Honda Civic  30.4    4   75.7   52
19       Toyota Corolla  33.9    4   71.1   65
20        Toyota Corona  21.5    4  120.1   97
21     Dodge Challenger  15.5    8  318.0  150
22          AMC Javelin  15.2    8  304.0  150
23           Camaro Z28  13.3    8  350.0  245
24     Pontiac Firebird  19.2    8  400.0  175
25            Fiat X1-9  27.3    4   79.0   66
26        Porsche 914-2  26.0    4  120.3   91
27         Lotus Europa  30.4    4   95.1  113
28       Ford Pantera L  15.8    8  351.0  264
29         Ferrari Dino  19.7    6  145.0  175
30        Maserati Bora  15.0    8  301.0  335
31           Volvo 142E  21.4    4  121.0  109

In [5]:
# Drop collection
con = MongoClient(host="localhost", port=27017)
    
# Define database lookup
db = con.mtcars_DB
col = db.mtcars_TB
    
# Drop database
db.mtcars_TB.drop()

# Close conncection
con.close()

___

## Querying tables and executing queries

In [6]:
# Query base
def queryBase():

    con = MongoClient(
        host="localhost",
        port=27017)

    # Available databases
    print(con.list_database_names())
    
    # Close connection
    con.close()

In [7]:
# Consulta
queryBase()

['TesoutoDireto', 'admin', 'cadastrodb', 'churn', 'codBC_DB', 'config', 'exec_completedb', 'exercicio_completodb', 'inmet_sc', 'local', 'meubanco', 'users', 'webscrapingmtcars']

In [8]:
# Query table
def queryTable():

    con = MongoClient(
        host="localhost",
        port=27017)

    # Define base
    db = con.mtcars_DB
    col = db.mtcars_DB
    
    # Available tables
    print(db.list_collection_names())
    
    # Close conncection
    con.close()

In [9]:
# Consulta
queryTable()

[]

___

## Insert data

### Create base, collection and insert data

In [10]:
# Create connection
con = MongoClient(host="localhost", port=27017)
    
# Create data base
db = con.mtcars_DB
col = db.mtcars_TB

values = []

for i in range(0, len(df.index)):
    values.append(dict(df.iloc[i:i+1].sum().astype(str)))
    
col.insert_many(values)
        
con.close()

In [11]:
# Query table
con = MongoClient(host="localhost", port=27017)
    
db = con.mtcars_DB
col = db.mtcars_TB
    
print(db.list_collection_names())

con.close()

['mtcars_TB']

## Query data

In [12]:
# Query data
con = MongoClient(host="localhost", port=27017)
    
db = con.mtcars_DB
col = db.mtcars_TB
    
# load table and convert to a dataframe
df_new = pd.DataFrame(list(col.find()))

con.close()

In [13]:
# View
df_new

                         _id                 name   mpg cyl   disp   hp
0   64404969718107f9ea615836            Mazda RX4  21.0   6  160.0  110
1   64404969718107f9ea615837        Mazda RX4 Wag  21.0   6  160.0  110
2   64404969718107f9ea615838           Datsun 710  22.8   4  108.0   93
3   64404969718107f9ea615839       Hornet 4 Drive  21.4   6  258.0  110
4   64404969718107f9ea61583a    Hornet Sportabout  18.7   8  360.0  175
5   64404969718107f9ea61583b              Valiant  18.1   6  225.0  105
6   64404969718107f9ea61583c           Duster 360  14.3   8  360.0  245
7   64404969718107f9ea61583d            Merc 240D  24.4   4  146.7   62
8   64404969718107f9ea61583e             Merc 230  22.8   4  140.8   95
9   64404969718107f9ea61583f             Merc 280  19.2   6  167.6  123
10  64404969718107f9ea615840            Merc 280C  17.8   6  167.6  123
11  64404969718107f9ea615841           Merc 450SE  16.4   8  275.8  180
12  64404969718107f9ea615842           Merc 450SL  17.3   8  275.8  180
13  64404969718107f9ea615843          Merc 450SLC  15.2   8  275.8  180
14  64404969718107f9ea615844   Cadillac Fleetwood  10.4   8  472.0  205
15  64404969718107f9ea615845  Lincoln Continental  10.4   8  460.0  215
16  64404969718107f9ea615846    Chrysler Imperial  14.7   8  440.0  230
17  64404969718107f9ea615847             Fiat 128  32.4   4   78.7   66
18  64404969718107f9ea615848          Honda Civic  30.4   4   75.7   52
19  64404969718107f9ea615849       Toyota Corolla  33.9   4   71.1   65
20  64404969718107f9ea61584a        Toyota Corona  21.5   4  120.1   97
21  64404969718107f9ea61584b     Dodge Challenger  15.5   8  318.0  150
22  64404969718107f9ea61584c          AMC Javelin  15.2   8  304.0  150
23  64404969718107f9ea61584d           Camaro Z28  13.3   8  350.0  245
24  64404969718107f9ea61584e     Pontiac Firebird  19.2   8  400.0  175
25  64404969718107f9ea61584f            Fiat X1-9  27.3   4   79.0   66
26  64404969718107f9ea615850        Porsche 914-2  26.0   4  120.3   91
27  64404969718107f9ea615851         Lotus Europa  30.4   4   95.1  113
28  64404969718107f9ea615852       Ford Pantera L  15.8   8  351.0  264
29  64404969718107f9ea615853         Ferrari Dino  19.7   6  145.0  175
30  64404969718107f9ea615854        Maserati Bora  15.0   8  301.0  335
31  64404969718107f9ea615855           Volvo 142E  21.4   4  121.0  109

## Table changes

### Update

In [14]:
# Update
con = MongoClient(host="localhost", port=27017)
    
db = con.mtcars_DB
col = db.mtcars_TB
    
where = { "name": "Mazda RX4" }
newvalues = { "$set": { "hp": "111" } }

col.update_one(where, newvalues)

con.close()

In [15]:
# Query change data
con = MongoClient(host="localhost", port=27017)
    
db = con.mtcars_DB
col = db.mtcars_TB
    
df_new = pd.DataFrame(list(col.find()))

con.close()

In [16]:
# View
df_new

                         _id                 name   mpg cyl   disp   hp
0   64404969718107f9ea615836            Mazda RX4  21.0   6  160.0  111
1   64404969718107f9ea615837        Mazda RX4 Wag  21.0   6  160.0  110
2   64404969718107f9ea615838           Datsun 710  22.8   4  108.0   93
3   64404969718107f9ea615839       Hornet 4 Drive  21.4   6  258.0  110
4   64404969718107f9ea61583a    Hornet Sportabout  18.7   8  360.0  175
5   64404969718107f9ea61583b              Valiant  18.1   6  225.0  105
6   64404969718107f9ea61583c           Duster 360  14.3   8  360.0  245
7   64404969718107f9ea61583d            Merc 240D  24.4   4  146.7   62
8   64404969718107f9ea61583e             Merc 230  22.8   4  140.8   95
9   64404969718107f9ea61583f             Merc 280  19.2   6  167.6  123
10  64404969718107f9ea615840            Merc 280C  17.8   6  167.6  123
11  64404969718107f9ea615841           Merc 450SE  16.4   8  275.8  180
12  64404969718107f9ea615842           Merc 450SL  17.3   8  275.8  180
13  64404969718107f9ea615843          Merc 450SLC  15.2   8  275.8  180
14  64404969718107f9ea615844   Cadillac Fleetwood  10.4   8  472.0  205
15  64404969718107f9ea615845  Lincoln Continental  10.4   8  460.0  215
16  64404969718107f9ea615846    Chrysler Imperial  14.7   8  440.0  230
17  64404969718107f9ea615847             Fiat 128  32.4   4   78.7   66
18  64404969718107f9ea615848          Honda Civic  30.4   4   75.7   52
19  64404969718107f9ea615849       Toyota Corolla  33.9   4   71.1   65
20  64404969718107f9ea61584a        Toyota Corona  21.5   4  120.1   97
21  64404969718107f9ea61584b     Dodge Challenger  15.5   8  318.0  150
22  64404969718107f9ea61584c          AMC Javelin  15.2   8  304.0  150
23  64404969718107f9ea61584d           Camaro Z28  13.3   8  350.0  245
24  64404969718107f9ea61584e     Pontiac Firebird  19.2   8  400.0  175
25  64404969718107f9ea61584f            Fiat X1-9  27.3   4   79.0   66
26  64404969718107f9ea615850        Porsche 914-2  26.0   4  120.3   91
27  64404969718107f9ea615851         Lotus Europa  30.4   4   95.1  113
28  64404969718107f9ea615852       Ford Pantera L  15.8   8  351.0  264
29  64404969718107f9ea615853         Ferrari Dino  19.7   6  145.0  175
30  64404969718107f9ea615854        Maserati Bora  15.0   8  301.0  335
31  64404969718107f9ea615855           Volvo 142E  21.4   4  121.0  109

### Delete

In [17]:
# Delete
con = MongoClient(host="localhost", port=27017)
    
db = con.mtcars_DB
col = db.mtcars_TB
    
where = { "name": "Mazda RX4" }

col.delete_one(where)

con.close()

In [18]:
# Query change data
con = MongoClient(host="localhost", port=27017)
    
db = con.mtcars_DB
col = db.mtcars_TB
    
df_new = pd.DataFrame(list(col.find()))

con.close()

In [19]:
# View
df_new

                         _id                 name   mpg cyl   disp   hp
0   64404969718107f9ea615837        Mazda RX4 Wag  21.0   6  160.0  110
1   64404969718107f9ea615838           Datsun 710  22.8   4  108.0   93
2   64404969718107f9ea615839       Hornet 4 Drive  21.4   6  258.0  110
3   64404969718107f9ea61583a    Hornet Sportabout  18.7   8  360.0  175
4   64404969718107f9ea61583b              Valiant  18.1   6  225.0  105
5   64404969718107f9ea61583c           Duster 360  14.3   8  360.0  245
6   64404969718107f9ea61583d            Merc 240D  24.4   4  146.7   62
7   64404969718107f9ea61583e             Merc 230  22.8   4  140.8   95
8   64404969718107f9ea61583f             Merc 280  19.2   6  167.6  123
9   64404969718107f9ea615840            Merc 280C  17.8   6  167.6  123
10  64404969718107f9ea615841           Merc 450SE  16.4   8  275.8  180
11  64404969718107f9ea615842           Merc 450SL  17.3   8  275.8  180
12  64404969718107f9ea615843          Merc 450SLC  15.2   8  275.8  180
13  64404969718107f9ea615844   Cadillac Fleetwood  10.4   8  472.0  205
14  64404969718107f9ea615845  Lincoln Continental  10.4   8  460.0  215
15  64404969718107f9ea615846    Chrysler Imperial  14.7   8  440.0  230
16  64404969718107f9ea615847             Fiat 128  32.4   4   78.7   66
17  64404969718107f9ea615848          Honda Civic  30.4   4   75.7   52
18  64404969718107f9ea615849       Toyota Corolla  33.9   4   71.1   65
19  64404969718107f9ea61584a        Toyota Corona  21.5   4  120.1   97
20  64404969718107f9ea61584b     Dodge Challenger  15.5   8  318.0  150
21  64404969718107f9ea61584c          AMC Javelin  15.2   8  304.0  150
22  64404969718107f9ea61584d           Camaro Z28  13.3   8  350.0  245
23  64404969718107f9ea61584e     Pontiac Firebird  19.2   8  400.0  175
24  64404969718107f9ea61584f            Fiat X1-9  27.3   4   79.0   66
25  64404969718107f9ea615850        Porsche 914-2  26.0   4  120.3   91
26  64404969718107f9ea615851         Lotus Europa  30.4   4   95.1  113
27  64404969718107f9ea615852       Ford Pantera L  15.8   8  351.0  264
28  64404969718107f9ea615853         Ferrari Dino  19.7   6  145.0  175
29  64404969718107f9ea615854        Maserati Bora  15.0   8  301.0  335
30  64404969718107f9ea615855           Volvo 142E  21.4   4  121.0  109


___